@model Pizza

<h1>Dettaglio Pizza @Model.Name</h1>


<section class="hero-wrapper it-dark overlay">
  <!-- - img-->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
        <div class="img-wrapper"><img src="@Model.Image" title="pizza" alt="pizza"></div>
    </div>
  </div>
  <!-- - texts-->
  <div class="container">
    <div class="row">
        <div class="col-12">
          <div class="it-hero-text-wrapper bg-dark">

                    <h2>@Model.Name</h2>
                    <h3>@Model.Prezzo €</h3>
                    <p class="d-none d-lg-block">@Model.Description</p>
              <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="#">Ordina</a></div>
          </div>
        </div>
    </div>
  </div>
</section>